---
import { type LibrosTypes } from "@/types/libros";

interface Props {
  libro: LibrosTypes;
}

const { libro } = Astro.props;

console.log(libro)
---

<section class="card-libros">

  <div class="card-libros__img">
    <p class="categoria">{libro.id_categoria}</p>
  </div>
    
    <h2>{libro.titulo}</h2>

  <div class="datos-libro">
    <p>Lenguaje disponible: <br> <cite>{libro.lenguaje}</cite></p>

    <p>Autor/es: <br> <cite>{libro.autor}</cite></p>

    <p>Editorial: <br> <cite>{libro.editorial}</cite></p>

    <p>Ejemplares: <br> <cite>{libro.ejemplares}</cite></p> 
  </div>
  
</div>
</section>

<style>
  .card-libros{
    background-color: var(--color-principal-200); 
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  .categoria{
    padding: 5px 10px;
    background-color: yellow;
    position: absolute;
    top: 5px;
    left: -10px   ;
  }
  h2{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
  }
  .datos-libro{
    font-size: .8em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  .datos-libro p{
    font-weight: bold;
  }
  .datos-libro cite{
    font-style: italic;
    font-weight: lighter;
  }
</style>